
  @media only screen and (min-width: 800px) {
  
   #span {display: none;}
   body {
     background-color: #FFFFFF !important;
   }
  
   
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }
    .c4{
        font-family: montserrat;
        font-size: 2em;
       color: black;
        position: absolute;
     top: 44vh;
     left: 40vw;  
    }
    .c3{
        font-family: montserrat;
        font-size: 2em;
       color: black;
        position: absolute;
     top: 40vh;
     left: 47vw;
    }
    .c2{
        font-family: montserrat;
        font-size: 2em;
       color: #FF4C4C;
        position: absolute;
     top: 40vh;
     left: 40vw;
    }
    .Content{
        font-family: montserrat;
        font-size: 2em;
        color:black;
        position: absolute;
     top: 36vh;
     left: 40vw;
   
    }
    @font-face {
        font-family: montserrat;
        src: url(MontserratAlternates-Bold.ttf);
      }
      .facepage{
        font-family: montserrat;
        font-size: 2em;
        color:#FF4C4C;
        position: absolute;
     top: 2vh;
     left: 8vw;
   
     }
     .nav-link{
        font-family: Montserrat;
        font-size: 10px;
        color: #FF4C4C;
        left: 20%;
     }
     label[for=donthave]{
        font-family: Montserrat;
        font-size: 10px;
        color: black;
        
     }
     label[for=fg]{
        font-family: Montserrat;
        font-size: 10px;
        color: #FF4C4C;
     }
    label[for=heading] {
         font-family: Montserrat;
         font-size: 2em;
         color: #FF4C4C;
     }
     .dform {
        border-radius: 20px;
        background-color: #f2f2f2;
        padding: 40px;
        margin: 8px 0;
        
        width: 30vw;
        top: 20vh;
        left: 10vw;
        height:auto;
        width: 25vw;
        position:relative ;
          }
          input[type=text], select {
            width: 20vw;
            height: 4vh;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: none;
            border-radius: 7px;
            box-sizing: border-box;
          }
  


  
  .loginstyle{
  width: 20vw;
  height: 6vh;
  border: none;
  border-radius: 7px;
  color: #FFFFFF;
  background-color: #FF4C4C;
  display: inline-block;
  font-family: Montserrat;
  
    }


.side{
    height: 45vh;
    width: 30vw;
    position: absolute;
    translate: (-50%);
    top: 47%;
    left: 40%;
}
  }
  
  @media only screen and (max-width:1100px) {
  
  html,
   body {
     background-color: #FFFFFF !important;
     overflow: hidden;
   }
   input:focus,
   select:focus,
   textarea:focus,
   button:focus {
     outline: none;
   }
   .facepage{
      font-family: montserrat;
      font-size: 2em;
      color:#FF4C4C;
      position: absolute;
   top: 2vh;
   left: 30vw;
 
   }
   label[for=donthave]{
      font-family: Montserrat;
      font-size: 10px;
      color: black;
      position: relative;
      bottom: 6vh;
      left: -5%;
   }
   label[for=fg]{
      font-family: Montserrat;
      font-size: 10px;
      color: #FF4C4C;
      position: relative;
      bottom: 3vh;
   }
  label[for=heading] {
       font-family: Montserrat;
       font-size: 2em;
       color: #FF4C4C;
       position: relative;
       top: 4vh;
   }
   .dform {
      border-radius: 20px;
   
      padding: 40px;
      margin: 8px 0;
      transform: translate(-50%);
      border: n;
      
      left: 50vw;
      height:auto;
      width: 90vw;
      position:relative ;
        }
        input[type=text], select {
          width: 70vw;
          height: 4vh;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: none;
          border-radius: 7px;
          box-sizing: border-box;
          background-color: #f2f2f2;
        }
   .c4{
      position: absolute;
   bottom:  20vh;
      left: 10vw;
   
      display: inline-block;
      font-size: 1.4em;
      color: black;
      font-family: montserrat;
   }
   .c3{
       font-family: montserrat;
       font-size: 1.4em;
      color: black;
       position: absolute;
       bottom:  23vh;
       left: 30vw;
   }
   .c2{
       font-family: montserrat;
       font-size: 1.4em;
      color: #FF4C4C;
       position: absolute;
       bottom:  23vh;
       left: 10vw;
   }
   .Content{
       font-family: montserrat;
       font-size: 1.4em;
       color:black;
       position: absolute;
       bottom:  26vh;
       left: 10vw;

   }
   @font-face {
       font-family: montserrat;
       src: url(MontserratAlternates-Bold.ttf);
     }
     
    .nav-link{
       font-family: Montserrat;
       font-size: 10px;
       color: #FF4C4C;
       translate: (50%);
       position: relative;
       left: 32%;
       bottom: 11.5vh;
    }
 .loginstyle{
 width: 70vw;
 height: 7vh;
 border: none;
 border-radius: 7px;
 color: #FFFFFF;
 background-color: #FF4C4C;
 display: inline-block;
 font-family: Montserrat;
 bottom:  6vh;
 
 translate: (50%);
 position: relative;
 
 }

.side{
   height: 27vh;
   width: 60vw;
   position: absolute;
   translate: (-50%);
  top: 75%;
   left: 20%;

 }
 
}



 